@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.HomeSemEvento{
    font-family: 'Poppins', sans-serif;
}
.HeaderBar{
    width: max-content;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
#CampoPesquisa{
    display: flex;
    background: #1E1E1E;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
}
#CampoPesquisa>input{
    background-color: #1E1E1E;
    border: none;
    outline: none;
    color: white;
    outline: none;

}
#CampoPesquisa>img{
    cursor: pointer;
}
.MenuBurguer{
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
}



.NavBar {
    background-color: #252525;
    width: 300px; /* Largura da NavBar */
    height: 0; /* Inicia com altura 0 */
    gap: 20px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 20px;
    left: 0;
    overflow: hidden; /* Garante que o conteúdo seja oculto quando a altura é 0 */
    transition: height 0.85s; /* Adiciona transição suave apenas à propriedade height */
}

.NavBar.invisivel {
    width: 0;
    height: 0; /* Mantém altura 0 quando a classe invisivel está presente */
    background-color: #25252500;
    
}

.NavBar.visivel {
    height: 100vh; /* Define a altura desejada quando a NavBar está visível */
    position: absolute;
    z-index: 1666711;
}

.NavBar>a{
    text-decoration: none;
    color: white;
    background-color: #303030;
    width: max-content;
    padding: 7px 15px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    
}
.NavBar>a:hover{
    background-color: #00C54E;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
#DashbordPrincipal{
    color: white;
    width: 172px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#BotaoInscrever{
    width: 50px;
    height: 40px;
    background-color: #00C54E;
    position: fixed;
    z-index: 200;
    bottom: 40px;
    right: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
#BotaoInscrever:hover{
    background-color: #01f362;
    cursor: pointer;
}



@media (min-width:700px) {
    
}

@media (min-width:1024px){
    .HomeSemEvento{
        overflow: hidden;
    }
    .MenuBurguer{
        display: none;
    }
    #CampoPesquisa{
        width: 400px;
        position: relative; /* Importante para posicionar elementos filhos de forma relativa a este contêiner */}
        
        
    
    #CampoPesquisa>img{
        position: absolute;
        margin-top: -3px;
        right: 20px;
    }
    .ConteudoPrincipal{
        margin-left: 320px;
  
        
    }

    #DashbordPrincipal{
       
        left: 60%;
        top: 50%;
        transform: translate(-60%,-50%);
    
    }
    
    .NavBar{
        transition: none;
    }
    .NavBar.invisivel , .NavBar.visivel{
        width: 300px;
        height: 100vh;
        background-color: #252525;
    }

    
}
